 <div class="home-search">
    <div class="main search-form v2">
       <div class="container">
          <div class="row justify-content-md-center">
             <div class="col-md-12 col-lg-10">
                <div class="heading">
                   <h2>Trouvez votre prochaine école</h2>
                   <h3>E-anatra est la plateforme qu'il vous faut</h3>
                </div>
                <form action="property_listing.html">
                   <div class="row justify-content-md-center">
                      <div class="col-md-9 col-lg-8">
                         <div class="input-group input-group-lg">
                            <input type="text" class="form-control" placeholder="Etablissements, lieux ...">
                            <span class="input-group-append">
                            <!--button class="btn btn-white btn-lg" type="button"><i class="fa fa-map-marker" aria-hidden="true"></i></button-->
                            <button class="btn btn-primary btn-lg" type="button">Recherche</button>
                            </span>
                         </div>
                         <div class="search-in">
                             <div class="radio-box">
                               <input type="radio" name="searchin" value="rent" id="rent22">
                               <label class="radio-inline" for="rent22">Réinscription</label>
                            </div>
                            <div class="radio-box">
                               <input type="radio" name="searchin" value="sell" id="sell22" checked>
                               <label class="radio-inline" for="sell22" >Inscription</label>
                            </div>
                         </div>
                      </div>
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>
 </div>
 <div id="content" class="pt0 pb0">
    <div class="feature-box centered">
       <div>
          <div class="container">
             <div class="row justify-content-md-center">
                <div class="col col-lg-12 col-xl-10">
                   <div class="row">
                      <div class="col-md-4">
                         <div class="content-box">
                            <div class="image"> <img src="img/demo/icons/1.png" width="100" alt=""> </div>
                            <h4>Vie Scolaire</h4>
                            <div class="caption">L'éducation est une valeure sûr, trouvez l'école qui vous correspond en un clic !</div>
                            <div class="button"><a href="index.html#">TROUVEZ VOTRE ETABLISSEMENT</a></div>
                         </div>
                      </div>
                      <div class="col-md-4">
                         <div class="content-box">
                            <div class="image"> <img src="img/demo/icons/2.png" width="100" alt=""> </div>
                            <h4>Madagascar</h4>
                            <div class="caption">Un déménagement? Ne vous inquiétez pas, vous trouverez l'établissement qui vous correspond partout dans la grande île.</div>
                            <div class="button"><a href="index.html#">VOTRE PROVINCE</a></div>
                         </div>
                      </div>
                      <div class="col-md-4">
                         <div class="content-box">
                            <div class="image"> <img src="img/demo/icons/3.png" width="100" alt=""> </div>
                            <h4>Administration</h4>
                            <div class="caption">Les renseignements et paperasses pour vos démarches avec e-anatra. </div>
                            <div class="button"><a href="index.html#">VALIDEZ L'INSCRIPTION</a></div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 <!--   <div class="feature-box centered gray">
       <div>
          <div class="container">
             <div class="row justify-content-md-center">
                <div class="col col-lg-12 col-xl-10">
                   <div class="item-listing grid">
                      <div class="main-title"><span>Ajoutées récements</span></div>
                      <div class="main-title-description">Ce liste n'affiche que ceux qui sont ajoutées en dernnier.</div>
                      <div class="row">
                         <div class="col-md-4">
                            <div class="item">
                               <div class="item-image">
                                  <a href="property_single.html">
                                     <img src="img/demo/property/1.jpg" class="img-fluid" alt="">
                                     <div class="item-meta">
                                        <div class="item-price">$420,000 <small>$777 / sq m</small> </div>
                                     </div>
                                     <div class="item-badges">
                                        <div class="item-badge-left">Sponsored</div>
                                        <div class="item-badge-right">For Sale</div>
                                     </div>
                                  </a>
                                  <a href="index.html#" class="save-item"><i class="fa fa-star"></i></a> 
                               </div>
                               <div class="item-info">
                                  <h3 class="item-title">3 bed semi-detached house</h3>
                                  <div class="item-location"><i class="fa fa-map-marker"></i> Kirkstone Road, Middlesbrough TS3</div>
                                  <div class="item-details-i"> <span class="bedrooms" data-toggle="tooltip" title="3 Bedrooms">3 <i class="fa fa-bed"></i></span> <span class="bathrooms" data-toggle="tooltip" title="2 Bathrooms">2 <i class="fa fa-bath"></i></span> </div>
                               </div>
                            </div>
                         </div>
                         <div class="col-md-4">
                            <div class="item">
                               <div class="item-image">
                                  <a href="property_single.html">
                                     <img src="img/demo/property/2.jpg" class="img-fluid" alt="">
                                     <div class="item-meta">
                                        <div class="item-price">$420,000 <small>$777 / sq m</small> </div>
                                     </div>
                                     <div class="item-badges">
                                        <div class="item-badge-left">Sponsored</div>
                                        <div class="item-badge-right">For Sale</div>
                                     </div>
                                  </a>
                                  <a href="index.html#" class="save-item"><i class="fa fa-star"></i></a> 
                               </div>
                               <div class="item-info">
                                  <h3 class="item-title">3 bed semi-detached house</h3>
                                  <div class="item-location"><i class="fa fa-map-marker"></i> Kirkstone Road, Middlesbrough TS3</div>
                                  <div class="item-details-i"> <span class="bedrooms" data-toggle="tooltip" title="3 Bedrooms">3 <i class="fa fa-bed"></i></span> <span class="bathrooms" data-toggle="tooltip" title="2 Bathrooms">2 <i class="fa fa-bath"></i></span> </div>
                               </div>
                            </div>
                         </div>
                         <div class="col-md-4">
                            <div class="item">
                               <div class="item-image">
                                  <a href="property_single.html">
                                     <img src="img/demo/property/3.jpg" class="img-fluid" alt="">
                                     <div class="item-meta">
                                        <div class="item-price">$420,000 <small>$777 / sq m</small> </div>
                                     </div>
                                     <div class="item-badges">
                                        <div class="item-badge-left">Sponsored</div>
                                        <div class="item-badge-right">For Sale</div>
                                     </div>
                                  </a>
                                  <a href="index.html#" class="save-item"><i class="fa fa-star"></i></a> 
                               </div>
                               <div class="item-info">
                                  <h3 class="item-title">3 bed semi-detached house</h3>
                                  <div class="item-location"><i class="fa fa-map-marker"></i> Kirkstone Road, Middlesbrough TS3</div>
                                  <div class="item-details-i"> <span class="bedrooms" data-toggle="tooltip" title="3 Bedrooms">3 <i class="fa fa-bed"></i></span> <span class="bathrooms" data-toggle="tooltip" title="2 Bathrooms">2 <i class="fa fa-bath"></i></span> </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div> -->
    <div class="feature-box centered">
       <div>
          <div class="container">
             <div class="row justify-content-md-center">
                <div class="col col-lg-12 col-xl-10">
                   <div class="main-title"><span>Ce que vous pensez de E-anatra: </span></div>
                   <div class="swiper-container testimonials">
                      <div class="swiper-wrapper">
                         <div class="swiper-slide">
                            <div class="item content-box centered">
                               <div class="image"> <img class="rounded-circle" src="img/demo/profile.jpg" width="180" alt=""> </div>
                               <h4>Thank you for your quick and clear responses. They are much appreciated. This was a site that needed to go up fast and it has – customizations and all!</h4>
                               <div class="caption">The Brown Family</div>
                            </div>
                         </div>
                         <div class="swiper-slide">
                            <div class="item content-box centered">
                               <div class="image">
                                  <img class="rounded-circle" src="img/demo/profile2.jpg" width="180" alt="">
                                  <h4>Thank you for your quick and clear responses. They are much appreciated. This was a site that needed to go up fast and it has – customizations and all!</h4>
                                  <div class="caption">The Brown Family</div>
                               </div>
                            </div>
                         </div>
                         <div class="swiper-slide">
                            <div class="item content-box centered">
                               <div class="image">
                                  <img class="rounded-circle" src="img/demo/profile3.jpg" width="180" alt="">
                                  <h4>Thank you for your quick and clear responses. They are much appreciated. This was a site that needed to go up fast and it has – customizations and all!</h4>
                                  <div class="caption">The Brown Family</div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <!-- Add Arrows -->
                      <div class="swiper-button-next"></div>
                      <div class="swiper-button-prev"></div>
                   </div>
                   <script>
                      var swiper = new Swiper('.swiper-container', {
                        loop: true,
                        centeredSlides: true,
                          autoplay: {
                          delay: 5000,
                          disableOnInteraction: false,
                        },
                        pagination: {
                          el: '.swiper-pagination',
                          clickable: true,
                        },
                        navigation: {
                          nextEl: '.swiper-button-next',
                          prevEl: '.swiper-button-prev',
                        },
                      });
                            
                   </script> 
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="feature-box gray centered">
       <div>
          <div class="container">
             <div class="row justify-content-md-center">
                <div class="col col-lg-12 col-xl-10">
                   <div class="main-title"><span>Ecoles &amp; Formations </span></div>
                   <div class="main-title-description">Restez connecté pour découvrir les établissements.</div>
                   <div class="item-listing grid mb50">
                      <div class="row">
                         <div class="col-md-4">
                            <div class="item">
                               <div class="item-image">
                                  <a href="http://www.cntemad.mg/">
                                     <img src="img/demo/property/7.jpg" class="img-fluid" alt="">
                                     <div class="item-meta">
                                        <div class="item-price"><small>CNTEMAD</small> </div>
                                     </div>
                                     <div class="item-badges">
                                        <div class="item-badge-right">Université</div>
                                     </div>
                                  </a>
                               </div>
                               <div class="item-info">
                                  <h3 class="item-title">Enseignement supérieur malgache, à travers le télé-enseignement</h3>
                                <!--  <div class="item-comments-count"><i class="fa fa-comment-o"></i> 3</div> -->
                                  <div class="item-author">Par MESupReS</div>
                               </div>
                            </div>
                         </div>
                         <div class="col-md-4">
                            <div class="item">
                               <div class="item-image">
                                  <a href="http://www.ecole-bird.mg/">
                                     <img src="img/demo/property/8.jpg" class="img-fluid" alt="">
                                     <div class="item-meta">
                                        <div class="item-price"><small>B.I.R.D</small> </div>
                                     </div>
                                     <div class="item-badges">
                                        <div class="item-badge-right">Ecole</div>
                                     </div>
                                  </a>
                               </div>
                               <div class="item-info">
                                  <h3 class="item-title">Un établissement d’enseignement français, homologué par l’ENF pour l’enseignement primaire,collège et lycée.</h3>
                                <!--  <div class="item-comments-count"><i class="fa fa-comment-o"></i> 3</div> -->
                                  <div class="item-author">Par APEAF</div>
                               </div>
                            </div>
                         </div>
                         <div class="col-md-4">
                            <div class="item">
                               <div class="item-image">
                                  <a href="http://www.sayna.io/">
                                     <img src="img/demo/property/9.jpg" class="img-fluid" alt="">
                                     <div class="item-meta">
                                        <div class="item-price"><small>Sayna</small> </div>
                                     </div>
                                     <div class="item-badges">
                                        <div class="item-badge-right category">Formation</div>
                                     </div>
                                  </a>
                               </div>
                               <div class="item-info">
                                  <h3 class="item-title">Formation qui permet aux jeunes malagasy d'élever leur niveau de vie grâce au travail digital</h3>
                                <!--  <div class="item-comments-count"><i class="fa fa-comment-o"></i> 3</div> -->
                                  <div class="item-author">Par Matina Razafimahefa</div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="text-center"><a href="index.html#" class="btn btn-xlg btn-link">Voir la Liste</a></div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="feature-box centered pb0">
       <div>
          <div class="container">
             <div class="row justify-content-md-center">
                <div class="col col-lg-10 col-xl-10">
                   <div class="row">
                      <div class="col-md-6">
                         <div class="text-center mt50 mb50">
                            <div class="main-title"><span>Connect with us from anywhere</span></div>
                            <div class="main-title-description">Download the mobile app and enjoy the smoothest experience</div>
                            <img src="img/store/apple.svg" width="120" alt=""> <img src="img/store/google.svg" width="120" alt=""> 
                         </div>
                      </div>
                      <div class="col-md-6"> <img src="img/demo/mobile-app-hero.png" class="img-fluid" alt=""> </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>