<p id="notice"><%= notice %></p>

<p>
  <strong>Niveau:</strong>
  <%= @level.niveau %>
</p>
<% if user_signed_in? %>
      <% if current_user.role == "admin" %>
          <%= link_to 'Edit', edit_level_path(@level) %> |
      <% end %>
<% end %>
          <%= link_to 'Back', levels_path %>
